[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C = PL
ST = Wielkopolskie
L = Poznan
O = atomneo
OU = BookaDesk
CN = bookadesk.mattsoft.it

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = bookadesk.mattsoft.it
DNS.2 = www.bookadesk.mattsoft.it
DNS.3 = localhost