[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C = PL
ST = Wielkopolskie
L = Poznań
O = atomneo
OU = BookaDesk
CN = bookadesk.eu

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = bookadesk.eu
DNS.2 = www.bookadesk.eu
DNS.3 = localhost